.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
  max-width: 350px;
  padding: 15px 10px;
  border: 1px solid var(--cl-mid-gray);
  border-radius: 6px;
  box-shadow: var(--shadow-card);
}

.inputField {
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid var(--cl-mid-gray);
  border-radius: 6px;
}

.inputField:focus {
  outline: none;
  border-color: var(--cl-accent-darken);
}

.registerBtn {
  margin-top: 10px;
  padding: 4px 8px;
  background-color: var(--cl-blue);
  color: var(--cl-white);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--trns-ease);
}

.registerBtn:hover {
  background-color: var(--cl-light-blue);
}

.error {
  color: var(--cl-red-400);
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
