.card {
  display: flex;
  justify-content: space-between;
  padding: 15px 12px;
  background: var(--cl-card-background);
  border: 1px solid var(--cl-mid-gray);
  border-radius: 6px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact:not(:last-child) {
  padding-bottom: 10px;
}

.name,
.number {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
}

.deleteBtn {
  padding: 4px 8px;
  background-color: var(--cl-red-300);
  color: var(--cl-white);
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}

.deleteBtn:hover {
  background-color: var(--cl-red-400);
}
