.layout {
  min-width: 320px;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  padding: 30px;
}

@media only screen and (min-width: 768px) {
  .layout {
    max-width: 768px;
  }

  .container {
    padding: 30px 45px;
  }
}

@media only screen and (min-width: 1440px) {
  .layout {
    max-width: 1376px;
  }
}
